---
layout: layouts/base.njk
---

<div class="bgimg-1">
		<div class="caption">
				<span class="border">DiversityCorp</span>
		</div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
		<div class="container homepage">
				<div class="shadow-lg p-3 mb-5 bg-white rounded">
						<div class="container mt-5 mb-5">
								<div class="row">
										<div class="col-md-6 offset-md-3">
												<h4>Timeline</h4>
												<ul class="timeline">
														<li>
																<a target="_blank" href="https://www.nytimes.com/2020/05/31/us/george-floyd-investigation.html">The Murder of George Floyd</a>
																<a target="_blank" href="https://www.nytimes.com/2020/05/31/us/george-floyd-investigation.html" class="float-right">May 25, 2020</a>
																<p>George Floyd was murdered at the hands of Derek Chavin, a Minneapolis police officer.</p>
														</li>
														<li>
																<a target="_blank" href="https://www.nytimes.com/article/george-floyd-protests-timeline.html">People Take to the Streets</a>
																<a target="_blank" href="https://www.nytimes.com/article/george-floyd-protests-timeline.html" class="float-right">May 26, 2020</a>
																<p>The people of Minneapolis began to protest, and police officers responded with tear gas and rubber bullets.</p>
														</li>
														<li>
																<a target="_blank" href="https://deadline.com/2020/05/netflix-tweets-support-black-lives-matter-protests-george-floyd-death-1202947463/">Corporations Speak Out
																</a>
																<a target="_blank" href="https://deadline.com/2020/05/netflix-tweets-support-black-lives-matter-protests-george-floyd-death-1202947463/" class="float-right">May 31, 2020</a>
																<p>The big-named companies started to tweet their support.</p>
														</li>
												</ul>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>

<div class="bgimg-2">
		<div class="caption">
				<span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">
						<a href="/statements" target="_blank">See Statements</a>
				</span>
		</div>
</div>

<div style="position:relative;">
		<div style="color:#ddd;background-color:grey;text-align:center;padding:20px 50px;text-align: justify;">
				<p>We must hold companies accountable.</p>
		</div>
</div>

<div class="bgimg-3">
		<div class="caption">
				<span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">
						<a href="https://github.com/DiversityCorp/companies-on-blm" target="_blank">Contribute</a>
				</span>
		</div>
</div>

{# <div class="text-muted mt-5 mb-5 text-center small">Thanks to
		<a class="text-muted" target="_blank" href="http://totoprayogo.com">
				totoprayogo.com</a>
		for timeline template
</div> #}