---
layout: layouts/base.njk
---

<div class="bgimg-1">
		<div class="caption">
				<span class="border">DiversityCorp</span>
		</div>
</div>

<div class="container why-container">
		<h2>Why do we exist?</h2>
		<div class="row why-img-text-container">
				<div class="col-12 col-lg-6">
						<img src="https://pbs.twimg.com/media/EZXvqb6X0AEDkOI?format=jpg&name=medium" class="meme-img" alt="Meme of white text on black background that says: We at [Brand] are committed to fighting injustice by posting images to Twitter that express our commitment to fighting injustice. To that end, we offer this solemn white-on-black .jpeg that expresses vague solidarity with the Black community, but will quietly elide the specifics of what is wrong, what needs to change, or in what ways we will do anything about it. This is doubly true if [Brand] is particularly guilty of exacerbating these issues. We hope this action encourages you to view [Brand] positively without, you know, expecting anything from us. From, [Brand]&reg; You know the ones.&trade;"/>
				</div>
				<div class="col-12 col-lg-6">
						<p>Corporate America has largely ignored the issues of police brutality and systemic racism. After the murder of George Floyd, thousands of black &amp; white statements flooded social media, claiming that they are listening and will no longer be complicit. Some of these were specific, measurable, and actionable, and some of them were little more than a black box with a hashtag. We've gathered their initial responses and subsequent follow-ups so you can start sorting through which organizations are genuinely invested and interested in making a difference and which are not.</p>
				</div>
		</div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
		<div class="container homepage">
				<div class="shadow-lg p-3 mb-5 bg-white rounded">
						<div class="container mt-5 mb-5">
								<div class="row">
										<div class="col-md-6 offset-md-3">
												<h4>Timeline</h4>
												<ul class="timeline">
														<li>
																<a target="_blank" href="https://www.nytimes.com/article/ahmaud-arbery-shooting-georgia.html">The Murder of Ahmaud Arbery</a>
																<a target="_blank" href="https://www.nytimes.com/article/ahmaud-arbery-shooting-georgia.html" class="float-right">February 23, 2020</a>
																<p>Ahmaud Arbery, a unarmed 25-year-old Black man, was fatally shot while jogging in Brunswick, Georgia by Gregory McMichael and his son, Travis McMichael.</p>
														</li>
														<li>
																<a target="_blank" href="https://www.nytimes.com/article/breonna-taylor-police.html">The Murder of Breonna Taylor</a>
																<a target="_blank" href="https://www.nytimes.com/article/breonna-taylor-police.html" class="float-right">March 13, 2020</a>
																<p>Breonna Taylor, a 26-year-old Black woman, was shot in her home in Louisville, Kentucky by Jonathan Mattingly, Brett Hankison, and Myles Cosgrove.</p>
														</li>
														<li>
																<a target="_blank" href="https://www.nytimes.com/2020/05/31/us/george-floyd-investigation.html">The Murder of George Floyd</a>
																<a target="_blank" href="https://www.nytimes.com/2020/05/31/us/george-floyd-investigation.html" class="float-right">May 25, 2020</a>
																<p>George Floyd was murdered at the hands of Derek Chavin, a Minneapolis police officer, in Minneapolis, Minnesota.</p>
														</li>
														<li>
																<a target="_blank" href="https://www.nytimes.com/article/george-floyd-protests-timeline.html">People Take to the Streets</a>
																<a target="_blank" href="https://www.nytimes.com/article/george-floyd-protests-timeline.html" class="float-right">May 26, 2020</a>
																<p>The people of Minneapolis began to protest, and police officers responded with tear gas and rubber bullets.</p>
														</li>
														<li>
																<a target="_blank" href="https://deadline.com/2020/05/netflix-tweets-support-black-lives-matter-protests-george-floyd-death-1202947463/">Corporations Speak Out
																</a>
																<a target="_blank" href="https://deadline.com/2020/05/netflix-tweets-support-black-lives-matter-protests-george-floyd-death-1202947463/" class="float-right">May 31, 2020</a>
																<p>The big-named companies started to tweet their support.</p>
														</li>
														<li>
																<a target="_blank" href="https://www.nytimes.com/article/jacob-blake-shooting-kenosha.html">The Murder of Jacob Blake
																</a>
																<a target="_blank" href="https://www.nytimes.com/article/jacob-blake-shooting-kenosha.html" class="float-right">August 23, 2020</a>
																<p>Jacob S. Blake, a 29-year-old was murdered at the hands of a police officer Rusten Sheskey in Kenosha, Wisconsin in front of Blake's three sons.</p>
														</li>
														<li>
																<a target="_blank" href="https://www.theringer.com/nba/2020/8/26/21403233/nba-boycott-jacob-blake-bucks-magic">NBA, WNBA Players Strike
																</a>
																<a target="_blank" href="https://www.theringer.com/nba/2020/8/26/21403233/nba-boycott-jacob-blake-bucks-magic" class="float-right">August 25, 2020</a>
																<p>Players refused to play in the Playoff to protest the murder of Jacob Blake.</p>
														</li>
												</ul>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>

<div class="bgimg-2">
		<div class="caption">
				<span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">
						<a href="/statements" target="_blank">See Statements</a>
				</span>
		</div>
</div>

<br/><br/>

<div class="container why-container">
		<h2>What is corporate blackface?</h2>
		<div class="row">
				<div class="col-12 col-lg-6">
						<p>It is the idea that corporations declare support of the Black Lives Matter movement, without actually committing to implementing real change within their company culture.</p>
				</div>
				<div class="col-12 col-lg-6">
						<img src="https://cloudfront-us-east-1.images.arcpublishing.com/advancelocal/KGUEHOR2UBEUND2B5US2IXGKTM.jpg" class="meme-img" alt="The names of the countless black people who have lost their lives to polic brutality and racism."/>
				</div>
		</div>
</div>

</div>
<br/><br/>

<div class="bgimg-3">
<div class="caption">
		<span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">
				<a href="https://github.com/DiversityCorp/companies-on-blm" target="_blank">Contribute</a>
		</span>
</div>
</div>