---
layout: layouts/base.njk
---

<div class="container">
    <br/><br/>
    <h2>We hold companies accountable.</h2>
    <p>View responses to the Black Lives Matter Movement.</p>
    <div class="container">
        <div class="row">
            {% include "tagslist.njk" %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% set companylist = collections.companies %}
            {% include "companylist.njk" %}
        </div>
    </div>
</div>