---
layout: layouts/base.njk
---

<div class="container">
    <img src="{{ '/images/logo.png' | url }}" alt="">
    <h2>We hold companies accountable.</h2>
    <p>Below, we will display companies and their responses to the Black Lives Matter Movement.</p>
    <div class="container">
        <img src="https://pbs.twimg.com/media/EZXvqb6X0AEDkOI?format=jpg&name=medium" class="img-fluid" height="50%" alt="Responsive image">
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {%- for company in collections.companiesSortedByBLMStatementDate -%}
                    <div class="border-bottom p-2">
                        <a href="{{ company.url | url }}" class="m-3">
                            <h3 class="mb-0 text-dark">{{ company.data.name }}</h3>
                            <span class="badge badge-secondary p-2 mb-2">
                                {% if 'blm_statements' in company.data %}
                                    {{company.data.blm_statements[0].date_posted | dateReadable}}
                                {% else %}
                                    No BLM Statement Found
                                {% endif %}
                            </span>
                        </a>
                    </div>
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>