---
layout: layouts/base.njk
---

<div class="container">
    <img src="{{ '/images/logo.png' | url }}" alt="">
    <h2>We hold companies accountable.</h2>
    <p>Below, we will display companies and their responses to the Black Lives Matter Movement.</p>
    <div class="container">
        <img src="https://pbs.twimg.com/media/EZXvqb6X0AEDkOI?format=jpg&name=medium" class="img-fluid" height="50%" alt="Responsive image">
    </div>
    <br/>
    <div class="row">
        {%- for company in collections.companiesSortedByBLMStatementDate -%}
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ company.data.name }}</h5>
                        <p class="card-text">
                            {% if 'blm_statements' in company.data %}
                                {{company.data.blm_statements[0].date_posted | dateReadable}}
                            {% else %}
                                No BLM Statement Found
                            {% endif %}
                        </p>
                        <a href="{{ company.url | url }}" class="btn btn-primary">See More</a>
                    </div>
                </div>
            </div>
        {%- endfor -%}
    </div>
</div>