---
pagination:
    data: collections.companies
    size: 1
    alias: company
permalink: "{{ company.url }}/content/"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ company.data.name | capitalize }} Statements Raw Text"
---

<div class="container">
  <h1>{{ company.data.name | capitalize }}
    Statements Raw Text</h1>
  <p>We display the raw text in case the company deletes the statements. We also welcome you to scrape our data and perform analytics on these statements.</p>

  {% for statement in company.data.blm_statements %}
    {% if statement.raw_text %}
      <h2>{{statement.type}}
        posted
        {{statement.date_posted | dateReadable }}</h2>
      <p class="statement">
        {{statement.raw_text}}
      </p>
    {% endif %}
  {% endfor %}
  {% for statement in company.data.insurrection_statements %}
    {% if statement.raw_text %}
      <h2>{{statement.type}}
        posted
        {{statement.date_posted | dateReadable }}</h2>
      <p class="statement">
        {{statement.raw_text}}
      </p>
    {% endif %}
  {% endfor %}
  {% for statement in company.data.stop_asian_hate_statements %}
    {% if statement.raw_text %}
      <h2>{{statement.type}}
        posted
        {{statement.date_posted | dateReadable }}</h2>
      <p class="statement">
        {{statement.raw_text}}
      </p>
    {% endif %}
  {% endfor %}
</div>