{%- for company in companylist | sortByPostedDate -%}
  {% if 'image' in company.data %}
    <div class="col-md-4">
      <a href="{{ company.url | url }}">
        <img style="width: 100%;" src="{{ '/images/' + company.data.image | url }}">
      </a>
    </div>
  {% endif %}
{%- endfor -%}