---
layout: layouts/base.njk
---

<container>
  <h1 class="m-3">{{name}}</h1>

  <div class="row m-4">
    <div class="col-sm-6">
      {%- if image -%}
        <img class="mx-auto img-fluid float-right" style="width: 500px;" src="{{ '/images/' + image | url }}">
      {%- endif -%}
    </div>
    <div class="col-sm-6">
      {%- for statement in blm_statements -%}
        <div>
          <a href="{{statement.url | url}}">
            ✊
            {{statement.type}}
            posted
            {{statement.date_posted | dateReadable }}
          </a>
        </div>
      {%- endfor -%}
      {%- if blm_statements | length > 0 %}
        <div>
          <a href="{{'content/index.html' | url}}" alt="{{statement.raw_text}}">
            📄 View raw text
          </a>
        </div>
      {%- endif -%}
      {%- if exec_team_url -%}
        <div>
          <a href="{{exec_team_url | url}}">
            💼 Executive Team
          </a>
        </div>
      {%- endif -%}
      {%- if diversity_inclusion_url -%}
        <div>
          <a href="{{diversity_inclusion_url | url}}">
            🗣 Diversity & Inclusion Committments
          </a>
        </div>
      {%- endif -%}
      {%- if ice_contract_url -%}
        <div>
          <a href="{{ice_contract_url | url}}">
            🧊 ICE Contract Info
          </a>
        </div>
      {%- endif %}
    </div>
  </div>
</container>